<div class="overlay" ng-if="showModal"></div>
<div class="restaurant-profile approval-modal">
    <div class="container">
        <i class="fa fa-close close" ng-click="close()"></i>
        <div class="container-right">
            <h1 class="title">
                {{restaurant.title}}
            </h1>
        </div>
        <div class="container-left">
            <div class="logo">
                <img src="{{appConfig.domain + restaurant.logo}}" imageonload="doThis(appConfig.domain + restaurant.logo)"/>
            </div>
            <bt-location-panel restaurant="restaurant" ng-if="restaurant"></bt-location-panel>
            <bt-contact-info-panel restaurant="restaurant" ng-if="restaurant"></bt-contact-info-panel>
            <bt-opening-hours-panel restaurant="restaurant" ng-if="restaurant"></bt-opening-hours-panel>
            <bt-discount-panel restaurant="restaurant" ng-if="restaurant && restaurant.discount.length > 0"></bt-discount-panel>
        </div>
        <div class="container-right">
            <h3>Description:</h3>
            <div class="description" ng-bind-html="to_trusted(restaurant.description)"></div>
            <p class="description">
                Last updated: {{formatDate(restaurant.datetime) | date:'dd/MM/yyyy'}}.
            </p>
            <div class="categories">
                <h3>Categories:</h3>
                <div ng-repeat="category in restaurant.categories" class="category">
                    {{category}}
                </div>
                <div class="clear_both"></div>
            </div>
            <div class="link" ng-if="restaurant.link">
                <h3>Link:</h3>
                <a href="{{restaurant.link}}" target="_blank" class="external_link">Visit {{restaurant.title}}</a>
            </div>
            <bt-restaurant-gallery galleries="restaurant.gallery"></bt-restaurant-gallery>
            <bt-approval-confirm restaurant="restaurant" restaurant-approval-list="restaurantApprovalList" index="index"></bt-approval-confirm>
        </div>
    </div>
</div>