<div class="signup_form reset_login_form">   
        <div class="container-left">
            <h1>Reset Your Password</h1>
            <p>
                Please enter your email address to search for your account.
            </p>
        </div>
        <div class="container-right">
            <form ng-submit="reset_password_submit(reset, false)" model="resetPassword" id="resetPassword" autocomplete="off">
                <div class="form-group">
                    <input type="password" 
                        name="password" 
                        id="password" 
                        ng-class="{'error': resetPassword.password.valid == false,
                                   'valid': resetPassword.password.valid == true}" 
                        ng-model="resetPassword.password.value"
                        ng-blur="validateLength('password', 5); validateConfirmPassword(true); fieldBlur('password');" 
                        ng-focus="fieldFocus('password')"  
                        placeholder="Password..."
                        autocomplete="password">
                    <div class="error_info" ng-if="resetPassword.password.valid == false && resetPassword.password.error =='length'">Password character length should be more than {{resetPassword.password.length}}</div>
                </div>
                <div class="form-group">
                    <input type="password" 
                        name="confirm_password" 
                        id="confirm_password" 
                        ng-class="{'error': resetPassword.confirm_password.valid == false, 
                                   'valid': resetPassword.confirm_password.valid == true}" 
                        ng-model="resetPassword.confirm_password.value"
                        ng-blur="validateConfirmPassword(); fieldBlur('confirm_password');" 
                        ng-focus="fieldFocus('confirm_password')"   
                        placeholder="Confirm Password..."
                        autocomplete="confirm_password">
                    <div class="error_info" ng-if="resetPassword.confirm_password.valid == false">Password does not match</div>
                </div>
                <button type="submit" class="button_submit blue">
                    Submit
                    <img class="buffer" src="./img/gif/buffer.gif" ng-if="loader"/>
                </button>
            </form>
        </div>
    </div> 